#experience {

    background-color: $white-color;
    color: $dark-blue-text;
    margin-top: 2rem;
  
    @include respond(tab-land) {
      margin-top: 0;
      padding-top: 5rem;
      padding-left: 5rem;
    }
  
    .experience-wrapper {
      &__tabs {
        padding:30px 20px;
        background:#f5f5f5;
        box-shadow:5px 5px 10px 5px #ccc;
        overflow:hidden;
      }

      &__tabs .tab-header {
        position:relative;
        float:left;
        width:180px;
        height:100%;
        border-right:1px solid #ccc;
        padding:50px 0px;
    
      }

      &__tabs .tab-header > div {
        height:50px;
        line-height:50px;
        font-size:16px;
        font-weight:600;
        color:#888;
        cursor:pointer;
        padding-left:4px;
      }

      &__tabs .tab-header > div:hover,
      &__tabs .tab-header > div.active {
        color:#00acee;
      }

      &__tabs .tab-header div i {
        display:inline-block;
        margin-left:10px;
        margin-right:5px;
      }

      &__tabs .tab-content {
        position:relative;
        height:100%;
        overflow:none;
      }

      &__tabs .tab-content > div > i {
        display:inline-block;
        margin-bottom: 15px;
        width:50px;
        height:50px;
        background:#555;
        color:#f5f5f5;
        font-size:25px;
        font-weight:600;
        text-align:center;
        line-height:50px;
        border-radius:50%;
      }

      &__tabs .tab-content > div > p {
        text-align: justify;
        padding-top: 10px;
      }

      &__tabs .tab-content > div {
        text-align:center;
        display: none;
      }

      &__tabs .tab-content > div.active {
        display: block;
        -webkit-animation: fade 1s;
        animation: fade 1s;
      }

      @-webkit-keyframes fade {
        0% {
          opacity: 0;
          -webkit-transform: (translateY(200px))
        }

        100% {
          opacity: 1;
          -webkit-transform: (translateY(0px))
        }
      }

      @keyframes fade {
        0% {
          opacity: 0;
          transform: translateY(200px);
        }

        100% {
          opacity: 1;
          transform: translateY(0px);;
        }
      }

      &__tabs .tab-header > .tab-indicator {
        position:absolute;
        background:$primary-color;
        right: -2px;
        top:50px;
        transition:all 500ms ease-in-out;
      }
    }
  }
  