#projects {
  color: whitesmoke;
  margin-top: -10rem;
  padding-top: 15rem;

  canvas {
    max-width: 100vw;
    max-height: 100vh;
  }

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .scroll-container {
    height: 100vh;
    background: black;
    display: inline;
  }
  .speak {
    margin: 150vh 0;
    &:first-child {
      margin-top: -20vh;
    }

    @media only screen and (max-width: 10240px) and (max-width: 734px) {
      margin: 1vh 0;
    }
  }

  .speak[data-scroll] {
    // transition: opacity .3s;
    transform: translatey(calc(var(--viewport-y) * 30vh));
    opacity: calc(var(--visible-y));
  }

  .static-project-1 {
    @media only screen and (max-width: 10240px) and (max-width: 734px) {
      max-width: 100%;
      height: 100vh;
      background-size: 335px 803px;
      background-repeat: no-repeat;
      vertical-align: middle;
      background-position-x: center;
      background-image: url("../../src/assets/iOS-app.png");
    }
  }

  .static-project-2 {
    @media only screen and (max-width: 10240px) and (max-width: 734px) {
      max-width: 100%;
      height: 100vh;
      background-size: 627px 571px;
      background-repeat: no-repeat;
      background-position-x: center;
      background-image: url("../../src/assets/smart-brain.png");
    }
  }

  .scroll-sequence__content {
    width: 31%;
    padding: 4em;
    font-weight: bold;

    h2 {
      font-size: 3rem;
    }

    @media only screen and (max-width: 734px) {
      width: 100%;
      padding: 6em;
    }
  }

  .scroll-sequence {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 10240px) and (max-width: 734px) {
      display: none;
    }
  }

  .project-title {
    font-size: 5rem;
  }

  :root {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    color: white;
    text-shadow: 0 0 12px rgba(black, 0.8);
  }
}
